@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
body {
  font-family: "Special Elite", cursive;
}

#intro-text a,
#about a {
  text-decoration: underline;
  font-weight: bold;
}

#intro-text a:hover,
#about a:hover,
footer a:hover {
  @apply text-pink-500;
}

.prose a {
  @apply text-gray-200;
}
