<section class="pb-12 bg-gray-800">
  <div class="pointer-events-none bg-gray-900 overflow-hidden">
    <svg class="overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1"
      viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-800 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4 pt-8">
    <div class="flex flex-wrap justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <form name="contact" method="POST" data-netlify="true">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-2xl rounded-lg bg-gradient-to-r from-pink-400 to-primary">
            <div class="flex-auto p-5 lg:p-10 text-white">
              <span class="text-2xl font-semibold">Let's keep in touch!</span>
              <p class="leading-relaxed mt-1 mb-4">
                Complete this form and I'll get back to you shortly.
              </p>
              <div class="relative w-full mb-3 mt-8">
                <label class="block uppercase text-xs font-bold mb-2" for="full-name">Full
                  Name</label><input type="text" name="name"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring focus:border-pink-300 w-full"
                  placeholder="Full Name" />
              </div>
              <div class="relative w-full mb-3">
                <label class="block uppercase text-xs font-bold mb-2" for="email">Email</label><input type="email"
                  name="email"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring focus:border-pink-300 w-full"
                  placeholder="Email" />
              </div>
              <div class="relative w-full mb-3">
                <label class="block uppercase text-xs font-bold mb-2" for="message">Message</label><textarea rows="4"
                  cols="80" name="message"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-black bg-white rounded text-sm shadow focus:outline-none focus:ring focus:border-pink-300 w-full"
                  placeholder="Type a message..."></textarea>
              </div>
              <div class="text-center mt-6">
                <button
                  class="bg-white text-gray-700 active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg hover:text-gray-900 outline-none focus:outline-none focus-ring focus:border-pink-300 mr-1 mb-1"
                  type="submit">
                  Send Message
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>