<section class="py-20">
  <div class="container mx-auto px-4">
    <div class="items-center flex flex-wrap">
      <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
        <img alt="..." class="max-w-full rounded-lg shadow-2xl" src="static/img/banner.jpg" />
      </div>
      <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
        <div class="md:pr-12">
          <h3 class="text-6xl font-semibold">Daniel Hughes</h3>
          <p class="mt-4 text-lg leading-relaxed text-gray-600 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <ul class="list-none mt-6">
            <li class="py-2">
              <a href="#TODO-youtube" class="group">
                <div class="flex items-center">
                  <div>
                    <button
                      class="bg-white text-red-500 shadow-lg group-hover:shadow-xl w-10 h-10 rounded-full outline-none focus:outline-none mr-4 mb-1"
                      type="button">
                      <i class="fab fa-youtube"></i>
                    </button>
                  </div>
                  <div>
                    <h4 class="text-gray-600 group-hover:text-pink-500">Youtube</h4>
                  </div>
                </div>
              </a>
            </li>
            <li class="py-2">
              <a href="#TODO-insta" class="group">
                <div class="flex items-center">
                  <div>
                    <button
                      class="bg-white text-gray-800 shadow-lg group-hover:shadow-xl w-10 h-10 rounded-full outline-none focus:outline-none mr-4 mb-1"
                      type="button">
                      <i class="fab fa-instagram"></i>
                    </button>
                  </div>
                  <div>
                    <h4 class="text-gray-600 group-hover:text-pink-500">Instagram</h4>
                  </div>
                </div>
              </a>
            </li>
            <li class="py-2">
              <a href="#TODO-facebook" class="group">
                <div class="flex items-center">
                  <div>
                    <button
                      class="bg-white text-blue-600 shadow-lg group-hover:shadow-xl w-10 h-10 rounded-full outline-none focus:outline-none mr-4 mb-1"
                      type="button">
                      <i class="fab fa-facebook-square"></i></button>
                  </div>
                  <div>
                    <h4 class="text-gray-600 group-hover:text-pink-500">Facebook</h4>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>