<section class="py-20 bg-gray-900">
  <div class="container mx-auto px-4">
    <div class="items-center flex flex-wrap">
      <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
        <h1 class="text-6xl font-semibold mb-8 md:hidden text-gray-200">{{dataContent.introTitle}}</h1>
        <img alt="danda" class="max-w-full rounded-lg shadow-2xl" src="{{dataContent.introImg}}" />
      </div>
      <div class="w-full md:w-5/12 ml-auto mr-auto px-4 text-gray-200">
        <div class="md:pr-12">
          <h1 class="text-6xl font-semibold hidden md:block text-gray-200">{{dataContent.introTitle}}</h1>
          <p class="mt-16 md:mt-4 text-lg leading-relaxed prose text-gray-200 text-justify" id="intro-text">
            {% markdown %}{{dataContent.introText | safe}}{% endmarkdown %}
          </p>
          {% if social.items %}
          <h2 class="mt-8 text-2xl">Find me on:</h2>
          <ul class="list-none mt-4">
            {% for social in social.items %}
            <li class="p-4">
              <a href="{{social.link}}" rel="noopener" class="group">
                <div class="flex items-center">
                  <div>
                    <button
                      class="bg-white {{social.colorName}} shadow-lg group-hover:shadow-xl w-10 h-10 rounded-full outline-none focus:outline-none mr-4 mb-1"
                      type="button" aria-label="{{social.name}}">
                      <i class="fab {{social.icon}}"></i>
                    </button>
                  </div>
                  <div>
                    <span class="text-gray-200 group-hover:text-pink-500">{{social.name}}</span>
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>