<section class="pb-20 bg-gray-900">
  <div class="pointer-events-none bg-gray-300 overflow-hidden">
    <svg class="overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1"
      viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-900 fill-current" points="0 0 0 100 2560 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4 pt-24" id="music">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold text-white">{{content.musicTitle}}</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-200">
          {{content.musicText}}
        </p>
        <p>
          Also, you can find my music on Spotify.
        </p>
        <a href="{{content.musicButtonLink}}" rel="noopener"
          class="text-primary bg-transparent border border-solid border-primary hover:bg-primary hover:text-white active:bg-pink-600 font-bold uppercase px-8 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">{{content.musicButton}}</a>
      </div>
    </div>
    {% include "../albums.html" %}
  </div>
</section>