<section class="pb-20 bg-gray-900">
  <div class="pointer-events-none bg-gray-800 overflow-hidden">
    <svg class="overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1"
      viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-900 fill-current" points="0 0 0 100 2560 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4 pt-24" id="music">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold text-white">{{dataContent.musicTitle}}</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-200 prose mx-auto">
          {% markdown %}{{dataContent.musicText}}{% endmarkdown %}
        </p>
        <a href="{{dataContent.musicButtonLink}}" rel="noopener"
          class="text-primary bg-transparent border border-solid border-primary inline-block hover:bg-primary hover:text-white active:bg-pink-600 font-bold uppercase px-8 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">{{dataContent.musicButton}}</a>
      </div>
    </div>
    <div class="flex justify-center mt-16 mb-16">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/e-OpKcFHClY"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    {% include "../albums.html" %}
  </div>
</section>